name: Release

on:
  workflow_dispatch:
  push:
  pull_request:

permissions:
  actions: write
  contents: read

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Make Gradle wrapper executable
        run: chmod +x gradlew

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: "17"

      - name: Set up Gradle
        uses: gradle/actions/setup-gradle@v4
        with:
          gradle-home-cache-cleanup: true

      - name: Build release APK
        run: |
          ./gradlew assembleRelease \
            -Dorg.gradle.parallel=true \
            -Dorg.gradle.vfs.watch=true \
            -Dorg.gradle.jvmargs="-Xmx2048m -Dfile.encoding=UTF-8" \
            -Dorg.gradle.configuration-cache=false

      - name: Upload release APK
        uses: actions/upload-artifact@v4
        with:
          name: FuckBiliFolds-release
          path: app/build/outputs/apk/release/*.apk
          if-no-files-found: error
